@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.contactCard-header {
  display: flex;
  align-items: center;
  flex: 1;
}

.contactCard-header h1 {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Dancing Script', cursive;
}

.contactCard-email,
.contactCard-phone {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.MuiButton-root {
  border-radius: 50%;
  padding: 5px;
}